/*~~~~~~~$ Global Variables $~~~~~~~*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*~~~~~~~$ Responsive Styles $~~~~~~~*/
@media (min-width: 600px) {
    .container {
        max-width: 600px;
    }
}